.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(25, 118, 210, 0.3);
  border-radius: 0 0 24px 24px;
  padding: 0 14px;
}

.navlink {
  color: black;
}

.action-button {
  color: black !important;
  background-color: white !important;
}

.action-button:hover {
  background-color: white !important;
}

@media (max-width: 478px) {
  .header {
    flex-direction: column;
  }

  .header > h1 {
    font-size: 1.75em;
    margin-bottom: 0.25em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
