.card-face_container {
    display: grid;
    grid-template-areas: 'task_info expand';
    grid-template-columns: 4fr 1fr;
    padding: 1rem;
}

.task-info {
    grid-area: 'task_info';
    display: grid;
    grid-template-areas: 'id title time_frame productive';
    grid-template-columns: auto auto auto 1fr;
}

.task-id, .task-title {
    padding-right: 2em;
}

.task-time_frame {
    
}

.priority {
    font-size: 1rem;
    color: green;
}

.expand-icon {
    grid-area: 'expand';
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon:hover {
    cursor: pointer;
}

.info-dialog-buttons {
    display: flex;
    justify-content: center;

}