.card-face_container {
    display: grid;
    grid-template-areas: 'task_info expand';
    grid-template-columns: 4fr 1fr;
    padding: 1rem;
}

.task-info {
    grid-area: 'task_info';
    display: grid;
    grid-template-areas: 'id title time_frame';
    grid-template-columns: 30px 1fr 3fr;
}

.task-info > * {
    margin: 5px;
}

.task-id {

}

.task-title {

}

.task-time_frame {
    
}

.expand-icon {
    grid-area: 'expand';
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon:hover {
    cursor: pointer;
}